<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Design by foolishdeveloper.com -->
        <title>login</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
        {% load static %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
 
</head>
<body>
        <div class="background">
                <div class="shape"></div>
                <div class="shape"></div>
        </div>
        <div>
                {% if error %}
				<p>{{ error }}</p>
		{% endif %}
        </div>
        <form action="" method="POST">
                {% csrf_token %}
                <h3>S'authentifier ici</h3>

                <label for="username">Nom d'utilisateur</label>
                <input type="text" placeholder="nom d'utilisateur" id="username" name="username">

                <label for="password">Mot de passe</label>
                <input type="password" placeholder="mot de passe" id="password" name="password">

                <button type="submit">S'authentifier</button>
        </form>
</body>
</html>
