<!DOCTYPE html>
<html lang="en">
	<head>
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			{% if request.session.cin %}

			<title>Modifier Voiture</title>

            <!-- Bootsrap -->
           <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        -->
            <!-- Boxicons -->

			<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<!-- My CSS -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/our_manager.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/modifier_car.css' %}"/>
	<style>
		li{
			list-style-type: none;
			all : unset;
		}
	</style>
		</head>
		

	<body>
		

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<img src="{% static 'images/logo_vroum.png' %}" alt=""  style="height: 40px; width: 50px;  margin-left: 5px;">
			<span class="text" style=" margin-top: 4px; color: rgb(33, 79, 97);">roum</span>
		</a>
			<ul class="side-menu top">
				<li >
					<a href="{% url 'dashboard_manager' %}">
						<i class="bx bxs-dashboard"></i>
						<span class="text">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="{% url 'manager_info' cin=request.session.cin %}">
						<i class="bx bxs-dashboard"></i>
						<span class="text">Modifier mes info</span>
					</a>
				</li>
				<li >
					<a href="{% url 'our_clients' %}">
						<i class="bx bxs-group"></i>
						<span class="text">Clients</span>
					</a>
				</li>
				<li class="active">
					<a href="{% url 'our_cars' %}">
						<i class="bx bxs-group"></i>
						<span class="text">Voitures</span>
					</a>
				</li>
				<li>
					<a href="{% url 'our_reservations' %}">
						<i class="bx bxs-group"></i>
						<span class="text">Reservations</span>
					</a>
				</li>
			</ul>
			<ul class="side-menu">
				<li>
					<a href="" class="logout">
						<i class="bx bxs-log-out-circle"></i>
						<form action="{% url 'logout' %}" method="Post">
							{% csrf_token %}
							<button class="logout-btn">Se déconnecter</button>
						</form>
					</a>
				</li>
			</ul>
		</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link"></a>
			<form action="#">
				<div class="form-input">


				</div>
			</form>

			<a href="#" class="notification">
				<i></i>

			</a>
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main style="background-color: #eee;">
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="{% url 'home' %}">Modifier voiture</a>
						</li>
					</ul>
				</div>
			</div>


		


			<div class="table-data">
				<div class="order">
					
                    <main class="table" id="customers_table">
                    <h1>Modifier Les Infos De La Voiture</h1>
	
             
    <!--<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}-->

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
            <div class="form-left">
            <label for="matricule">Matricule</label>
            <input type="text" id="matricule" name="matricule" value="{{ form.matricule.value }}">
            
            <label for="brand">Brand</label>
            <input type="text" id="brand" name="brand" value="{{ form.brand.value }}">
            
            <label for="model">Model</label>
            <input type="text" id="model" name="model" value="{{ form.model.value }}">
            
            <label for="year">Year</label>
            <input type="text" id="year" name="year" value="{{ form.year.value }}">
            
            <label for="price">Price</label>
            <input type="text" id="price" name="price" value="{{ form.price.value }}">
            
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="{{ form.image.url }}">
          

            <label for="description">Description</label>
            <textarea id="description" name="description">{{ form.description.value }}</textarea>
              </div>

            <div class="form-right">
            
            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="Disponible" {% if form.status.value == 'Disponible' %}selected{% endif %}>Disponible</option>
                <option value="Indisponible" {% if form.status.value == 'Indisponible' %}selected{% endif %}>Indisponible</option>
            </select>
            
            <label for="fuel">Fuel</label>
            <input type="text" id="fuel" name="fuel" value="{{ form.fuel.value }}">
            
            <label for="kilometer">Kilometer</label>
            <input type="text" id="kilometer" name="kilometer" value="{{ form.kilometer.value }}">
            
            <label for="seats">Seats</label>
            <input type="text" id="seats" name="seats" value="{{ form.seats.value }}">
            
           <div class="form-check">
                <input class="form-check-input" type="checkbox" id="air_conditioning" name="air_conditioning" {% if form.air_conditioning.value %}checked{% endif %}>
                <label class="form-check-label" for="air_conditioning">Air Conditioning</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="child_seat" name="child_seat" {% if form.child_seat.value %}checked{% endif %}>
                <label class="form-check-label" for="child_seat">Child Seat</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gps" name="gps" {% if form.gps.value %}checked{% endif %}>
                <label class="form-check-label" for="gps">GPS</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="music" name="music" {% if form.music.value %}checked{% endif %}>
                <label class="form-check-label" for="music">Music</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="seat_belt" name="seat_belt" {% if form.seat_belt.value %}checked{% endif %}>
                <label class="form-check-label" for="seat_belt">Seat Belt</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="sleeping_bed" name="sleeping_bed" {% if form.sleeping_bed.value %}checked{% endif %}>
                <label class="form-check-label" for="sleeping_bed">Sleeping Bed</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="bluetooth" name="bluetooth" {% if form.bluetooth.value %}checked{% endif %}>
                <label class="form-check-label" for="bluetooth">Bluetooth</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="onboard_computer" name="onboard_computer" {% if form.onboard_computer.value %}checked{% endif %}>
                <label class="form-check-label" for="onboard_computer">Onboard Computer</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="audio_input" name="audio_input" {% if form.audio_input.value %}checked{% endif %}>
                <label class="form-check-label" for="audio_input">Audio Input</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="car_kit" name="car_kit" {% if form.car_kit.value %}checked{% endif %}>
                <label class="form-check-label" for="car_kit">Car Kit</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="climate_control" name="climate_control" {% if form.climate_control.value %}checked{% endif %}>
                <label class="form-check-label" for="climate_control">Climate Control</label>
            </div>
            </div>

        
        <br>
        </div>
     <center>
        <button type="submit">Save Changes</button>
        </center>
       
    </form>

     
   
</main>
				</div>
			</div>
		</main>
		
	</body>

</html>
{% endif %}