<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
	<!-- My CSS -->
	{% load static %}

		<link rel="stylesheet" href="{% static 'css/our_manager.css' %}">
    
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />

		<!-- 
    - google font link
  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
			rel="stylesheet"
		/>

	<title>Cars of Vroum </title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">

			<i class="bx ri-open-arm-fill "></i>
			<span class="text">Vroum</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="{% url 'dashboard_manager' %}">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li >
				 <a href="{% url 'our_clients' %}">

					<i class='bx bxs-group' ></i>
					<span class="text">Clients</span>
				</a>
			</li>
			<li class="active">
				<a href="{% url 'our_cars' %}">
				<i class='bx bxs-group' ></i>
					<span class="text">Voitures</span>
				</a>
			</li>
            <li>
				<a href="{% url 'our_reservations' %}">
				<i class='bx bxs-group' ></i>
					<span class="text">Reservation</span>
				</a>
			</li>
            <li>
				<a href="">
				<i class='bx bxs-group' ></i>
					<span class="text">Ajouter une voiture</span>
				</a>
			</li>

		</ul>
		<ul class="side-menu">
			<li> 
				<a href="" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<form action="{% url 'logout' %}" method="Post">
						{% csrf_token %}
                     <button class="logout-btn">se déconnecter</button>
                    </form>
				</a>
            
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link"></a>
			<form action="#">
				<div class="form-input">


				</div>
			</form>

			<a href="#" class="notification">
				<i></i>

			</a>
			
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main style="background-color:#eee">
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb" >
						<li>
							<a href="{% url 'dashboard_manager' %}">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="{% url 'home' %}">Home</a>
						</li>
					</ul>
				</div>
			</div>


		


			<div class="table-data">
				<div class="order">
					
                    <main class="table" id="customers_table">
                        <section class="table__header">
                            <h1></h1>
                            <div class="input-group">
                                <input type="search" placeholder="Search Data...">
                                <i class='bx bx-search' ></i>
                            </div>
                
                        </section>
        <section >
                           
			
        <div class="container">
						

					<ul class="featured-car-list">
                          {% for car in cars %}
							<li>
								<div class="featured-car-card">
									<figure class="card-banner">
										<img
											src="{% static 'images/'|add:car.image %}"
											alt="Toyota RAV4 2021"
											loading="lazy"
											width="440"
											height="300"
											class="w-100"
										/>
									</figure>

									<div class="card-content">
										<div class="card-title-wrapper">
											<h3 class="h3 card-title">
												<a href="#">{{car.brand}} - {{car.matricule}}</a>
											</h3>

											<data class="year" value="2021"
												>{{car.year}}</data
											>
										</div>

										<ul class="card-list">
											<li class="card-list-item">
												<ion-icon
													name="people-outline"
												></ion-icon>

												<span class="card-item-text"
													>{{car.seats}}</span
												>
											</li>

											<li class="card-list-item">
												<ion-icon
													name="flash-outline"
												></ion-icon>

												<span class="card-item-text"
													>{{car.fuel}}</span
												>
											</li>

											<li class="card-list-item">
												<ion-icon
													name="speedometer-outline"
												></ion-icon>

												<span class="card-item-text"
													>{{car.kilometer}}</span
												>
											</li>

											<li class="card-list-item">
												<ion-icon
													name="hardware-chip-outline"
												></ion-icon>

												<span class="card-item-text"
													>{{car.status}}</span
												>
											</li>
										</ul>
                                        <div class="card-price-wrapper">
											<p class="card-price">
												<strong>{{car.price}}</strong> / day
											</p>

											

											<button class="btn">
												<a href="{% url 'view_car' car.matricule %}">View</a>
											</button>
										
									</div>

                                </li>

                                    {% endfor %}
                    </ul>
		
                        </section>
                    </main>





				</div>

			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->



        <script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
		></script>





	<script src="{% static 'js/adminJS.js' %}"></script>
    <script src="{% static 'js/tableJS.js' %}"></script>
</body>
</html>

